
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(4, 4, 4);
        margin: 0;
        height: 100vh;
        
    }
       


form {
    margin: auto;
    background-color:hsl(286, 90%, 53%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

@keyframes colorBounce {
    0% { color: #d003eb; transform: translateY(0); }
    50% { color: #48dbfb; transform: translateY(-20px); }
    100% { color: #f761d6; transform: translateY(0); }
}

h1 {
    font-size: 40px;
    animation: colorBounce 3s infinite ease-in-out;
    text-align: center;
    color: rgb(224, 192, 245);
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 5px rgb(19, 18, 19);

}


fieldset {
    border: 2px solid rgb(134, 3, 173);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(225, 141, 241);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(26, 1, 6);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(248, 9, 196);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(240, 11, 191);
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(215, 215, 249);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(165, 5, 157);
    border-radius: 8px;
    background-color: rgb(221, 87, 233);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: black;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    z-index: -1; /* Keeps particles behind your content */
    background: linear-gradient(90deg, #e6089c, #0d0d0e, #3d9df7, #b403c4); /* Your existing gradient */
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
